<%= form_with(model: objective_question) do |form| %>
  <% if objective_question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(objective_question.errors.count, "error") %> prohibited this objective_question from being saved:</h2>

      <ul>
        <% objective_question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :objective_id, style: "display: block" %>
    <%= form.text_field :objective_id %>
  </div>

  <div>
    <%= form.label :type_question, style: "display: block" %>
    <%= form.text_field :type_question %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :answer, style: "display: block" %>
    <%= form.text_field :answer %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
