<h1><%= I18n.t('objective.edit_title') %> <%= @objective.title %></h1>

<%= render "form", objective_question: @objective_question %>

<br>

<div>
  <%= link_to I18n.t('objective.question.show_this_question'), objective_objective_question_path %> |
  <%= link_to I18n.t('objective.question.back_questions'), objective_objective_questions_path %>
</div>
