<p style="color: green"><%= notice %></p>

<h1><%= @objective.title %></h1>

<div id="objective_questions">
  <% @objective_questions.each do |objective_question| %>
    <%= render objective_question %>
    <%= link_to "Show this objective question", [@objective, objective_question] %>
  <% end %>
</div>

<%= link_to "New objective question", new_objective_objective_question_path %>
