<p style="color: green"><%= notice %></p>

<%= render @objective_question %>

<div>
  <%= link_to I18n.t('objective.question.edit_this_question'), edit_objective_objective_question_path %> |
  <%= link_to I18n.t('objective.question.back_questions'), objective_objective_questions_path(@objective) %>

  <%= button_to I18n.t('objective.question.destroy_this_question'), [@objective, @objective_question], method: :delete %>
</div>
