<%= form_with(model: @purpose, local: true) do |form| %>
  <% if @purpose.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@purpose.errors.count, "erro") %> impedem que este propósito seja salvo:</h2>

      <ul>
        <% @purpose.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :version, t('.version'), style: "display: block" %>
    <%= form.number_field :version, required: true %>
  </div>

  <div>
    <%= form.label :time, t('.time'), style: "display: block" %>
    <%= form.number_field :time, required: true %>
  </div>

  <div>
    <%= form.label :type_question, t('.type_question'), style: "display: block" %>
    <%= form.text_field :type_question, required: true %>
  </div>

  <div>
    <%= form.label :question, t('.question'), style: "display: block" %>
    <%= form.text_area :question, required: true %>
  </div>

  <div>
    <%= form.label :answer, t('.answer'), style: "display: block" %>
    <%= form.text_area :answer, required: true %>
  </div>

  <div>
    <%= form.submit t('helpers.submit.create')%>
  </div>
<% end %>
