<div id="<%= dom_id purpose %>">
  <p>
    <strong>Version:</strong>
    <%= purpose.version %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= purpose.time %>
  </p>

  <p>
    <strong>Type question:</strong>
    <%= purpose.type_question %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= purpose.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= purpose.answer %>
  </p>

</div>
