<div id="<%= dom_id purpose %>">
  <p>
    <strong> <%= t('purpose.version') %></strong>
    <%= purpose.version  %>
  </p>

  <p>
    <strong> <%= t('purpose.time') %> </strong>
    <%= purpose.time %>
  </p>

  <p>
    <strong> <%= t('purpose.type_question') %> </strong>
    <%= purpose.type_question %>
  </p>

  <p>
    <strong> <%= t('purpose.question') %></strong>
    <%= purpose.question %>
  </p>

  <p>
    <strong> <%= t('purpose.answer') %></strong>
    <%= purpose.answer %>
  </p>

</div>
