<p style="color: green"><%= notice %></p>

<h1><%= t('purposes.index.tittle') %></h1>

<div id="purposes">
  <% @purposes.each do |purpose| %>
    <%= render purpose %>
    <p>
      <%= link_to t('purposes.index.show'), purpose %>
    </p>
  <% end %>
</div>

<%= link_to t('purposes.index.new'), new_purpose_path %>
