<p style="color: green"><%= notice %></p>

<%= render @purpose %>

<div>
  <%= link_to t('views.purpose.show.edit'), edit_purpose_path(@purpose) %> |
  <%= link_to t('views.purpose.show.back'), purposes_path %>

  <%= button_to t('views.purpose.show.destroy'), @purpose, method: :delete %>
</div>
