<p style="color: green"><%= notice %></p>

<%= render @purpose %>

<div>
  <%= link_to "Purpose edit", edit_purpose_path(@purpose) %> |
  <%= link_to "Back to purposes", purposes_path %>

  <%= button_to "Destroy this purpose", @purpose, method: :delete %>
</div>
