<%= form_with(model: @routine) do |form| %>
  <% if @routine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@routine.errors.count, "error") %> proibir esta rotina de ser salva:</h2>

      <ul>
        <% @routine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>
<%= form.label :day_of_the_week, t('views.form.day_of_the_week') %>:
<%= form.select :day_of_the_week, ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'] %>
</div>
<br>

<div>
<%= form.label :hour, t('views.form.hour') %>:
<%= form.select :hour, options_for_select((0..23).map { |hour| [format('%02d:00', hour), hour] }) %>
</div>
<br>

<div>
  <%= form.label :activity, t('views.form.activity') %>:
  <%= form.text_field :activity %>
</div>
<br>

  <div>
    <%= form.label :priority, t('views.form.priority') %>:
    <%= form.select :priority, ['1', '2', '3'] %>
  </div>
<br>
  <div>
    <hr>
    <br>
    <%= form.submit %>
  </div>
<% end %>