<section class="bg-white dark:bg-gray-900">
  <div class="max-w-2xl px-4 py-8 mx-auto lg:py-16">
    <%= form_with(model: @routine) do |form| %>
      <% if @routine.errors.any? %>
        <div class="text-red-600 mb-4">
          <h2 class="text-lg font-bold"><%= pluralize(@routine.errors.count, "error") %> <%= I18n.t('objective.form_view.error') %>:</h2>
          <ul class="list-disc pl-5">
            <% @routine.errors.each do |error| %>
              <li class="text-sm"><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-4">
        <%= form.label :day_of_the_week, t('views.routines.form.day_of_the_week'),class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.select :day_of_the_week, Routine.day_of_the_weeks.keys.map { |key| [key.humanize, key] }, {}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
      </div>

      <div class="mb-4">
        <%= form.label :hour, t('views.routines.form.hour'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.select :hour, options_for_select((0..23).map { |hour| [format('%02d:00', hour), hour] }), {}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
      </div>

      <div class="mb-4">
        <%= form.label :activity, t('views.routines.form.activity'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.text_field :activity, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
      </div>

      <div class="mb-4">
        <%= form.label :priority, t('views.routines.form.priority'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.select :priority, Routine::PRIORITY.map { |value| [value, value] }, {}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
      </div>

      <div class="flex items-center space-x-4">
        <%= form.submit @routine.persisted? ? t('helpers.submit.update') : t('helpers.submit.create'), class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full cursor-pointer" %>
      </div>
  <% end %>
  </div>
</section>
