<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<a href="/"><%= t('views.index.back_to_home') %></a><br>
  <h1><%= t('views.index.title') %>:</h1><br>

  <table class="table-bordered">
    <thead>
      <tr>
        <th><%= t('views.index.day_of_the_week_label') %></th>
          <th><%= t('views.index.hour_label') %></th>
          <th><%= t('views.index.activity_label') %></th>
          <th><%= t('views.index.priority_label') %></th>
        </tr>
    </thead>
    <tbody>
      <% @routines.each do |routine| %>
        <tr>
          <td><%= routine.day_of_the_week %></td>
          <td><%= routine.hour %></td>
          <td><%= routine.activity %></td>
          <td><%= routine.priority %></td>
          <td>
            <a href="<%= edit_routine_path(routine) %>" class="btn"><%= t('views.index.edit_label') %></a> |
            <%= link_to t('views.index.delete_label'), routine_path(routine), method: :delete %>
          </td>
          </tr>
      <% end %>
      </tbody>
  </table>
</section>
<br>
<hr>
<a href="<%= new_routine_path %>" class="new-routine-link"><%= t('views.index.new_label') %></a>
