<a href="/">Voltar para home</a><br>
  <h1>Lista de rotinas:</h1><br>
  <hr>

<a href="<%= new_routine_path %>" class="new-routine-link">Nova Rotina</a><br><br>

  <table class="table-bordered">
    <thead>
      <tr>
        <th>Dia da Semana</th>
          <th>Horário</th>
          <th>Ação</th>
          <th>Prioridade</th>
        </tr>
    </thead>
    <tbody>
      <% @routines.each do |routine| %>
        <tr>
          <td><%= routine.day_of_the_week %></td>
          <td><%= routine.hour %></td>
          <td><%= routine.activity %></td>
          <td><%= routine.priority %></td>
          <td>
            <a href="<%= edit_routine_path(routine) %>" class="btn">Alterar</a>
            <a href="<%= pre_destroy_routine_path(routine) %>" class="btn">Excluir</a>
          </td>
          </tr>
      <% end %>
      </tbody>
  </table>
</section>
