<body class="banner deletar-banner">
<div class="form-container">
<%= form_tag delete_routine_path, method: :get do %>
<% end %>

<% if @routine %>
    <h2><%= t('views.routines.pre_destroy_routine.routine_information') %></h2>
    <hr>
    <p><strong><%= t('views.routines.pre_destroy_routine.day_of_the_week') %></strong> <%= @routine.day_of_the_week %></p>
    <p><strong><%= t('views.routines.pre_destroy_routine.hour') %></strong> <%= @routine.hour %></p>
    <p><strong><%= t('views.routines.pre_destroy_routine.activity') %></strong> <%= @routine.activity %></p>
    <p><strong><%= t('views.routines.pre_destroy_routine.priority') %></strong> <%= @routine.priority %></p>
    <hr>
    <%= button_to t('views.routines.pre_destroy_routine.delete_routine'), delete_routine_path(@routine), method: :delete, data: { confirm: t('views.routines.pre_destroy_routine.delete_confirmation'), class: 'btn' } %></p>
    <p><%= button_to t('views.routines.pre_destroy_routine.back_to_routines'), routines_path(), method: :get %></p>
<% end %>
</body>