<h1><%= t('script.script_questions.index.title') %></h1>
<table>
  <thead>
  <tr>
    <th><%= t('script.script_questions.index.question') %></th>
    <th><%= t('script.script_questions.index.description') %></th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <% @script_questions.each do |question| %>
    <tr>
      <td><%= question.category %></td>
      <td><%= question.description %></td>
      <td><%= link_to t('script.script_questions.index.show'), script_script_question_path(@script, question) %></td>
      <td><%= link_to t('script.script_questions.index.edit'), edit_script_script_question_path(@script, question) %></td>
      <td><%= button_to t('script.script_questions.index.destroy'), script_script_question_path(@script, question), method: :delete, data: { confirm: t('script.script_questions.index.sure') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to t('script.script_questions.index.new'), new_script_script_question_path(@script) %>
<%= link_to t('script.script_questions.index.back'), scripts_path %>
