<div id="<%= dom_id interview %>">
  <p>
    <strong><%= I18n.t('activerecord.attributes.interview.interview_type') %>:</strong>
    <%= interview.interview_type %>
  </p>

  <p>
    <strong><%= I18n.t('activerecord.attributes.interview.video_number') %>:</strong>
    <%= interview.video_number %>
  </p>

  <p>
    <strong><%= I18n.t('activerecord.attributes.interview.answer') %>:</strong>
    <%= link_to interview.answer, interview.answer, target: '_blank' %>
  </p>

</div>
