<h1><%= t('script.index.title') %></h1>
<table>
  <thead>
  <tr>
    <th></th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <% @scripts.each do |script| %>
    <tr>
      <td><%= script.category %></td>
      <td><%= link_to t('script.index.show'), script_path(script) %></td>
      <td><%= link_to t('script.index.edit'), edit_script_path(script) %></td>
      <td><%= button_to t('script.index.destroy'), script_path(script), method: :delete, data: { confirm: t('script.script_questions.index.sure') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to t('script.index.new'), new_script_path %>
