<h1><%= t('script.show.title') %></h1>
<p><strong><%= t('script.show.Subject') %>:</strong> <%= @script.category %></p>
<p>
  <%= link_to t('script.show.edit'), edit_script_path(@script) %>
  <%= link_to t('script.show.back'), scripts_path %>
</p>
<%= render @script.script_questions %>
<%= link_to t('script.show.New Question'), new_script_script_question_path(@script) %>
