<div class="relative z-20 flex flex-col min-w-0 break-words bg-white border-0 border-solid border-black-125 shadow-soft-xl rounded-2xl bg-clip-border">
  <div class="flex-auto p-4">
    <p class="mt-6 mb-0 ml-2 text-2xl">Your discipline
      (<span class="font-bold text-lime-600">+<%= @discipline[:stats][:micro_goal_compared] %>%</span>) than last micro
      goal</p>
    <div class="py-4 pr-1 mb-4 bg-gradient-to-tl from-blue-900 to-slate-800 rounded-xl">
      <div>
        <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
          <div class="flex flex-wrap items-center">
            <div class="relative w-full max-w-full flex-grow flex-1">
              <h6
                class="uppercase text-white mb-1 text-xs font-semibold"
              >
                Overview
              </h6>
              <h2 class="text-white text-xl font-semibold">
                Discipline
              </h2>
            </div>
          </div>
        </div>
        <div class="p-4 flex-auto">
          <!-- Chart -->
          <div class="relative h-350-px">
            <canvas id="line-chart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full px-6 mx-auto max-w-screen-2xl rounded-xl">
      <div class="flex flex-wrap mt-0 -mx-3">
        <div class="flex-none text-xl w-1/4 max-w-full py-4 pl-0 pr-3 mt-0">
          <i class="fa-solid fa-gauge-high"></i>
          <h4 class="font-bold"><%= @discipline[:stats][:day][:number] %> <i class="fas fa-<%= @discipline[:stats][:day][:icon] %> fa-xs" style="color: #e60000;"></i></h4>
          <div class="text-xs h-0.75 flex w-3/4 overflow-visible rounded-lg bg-gray-200">
            <div class="duration-600 ease-soft -mt-0.4 -ml-px flex h-1.5 w-3/5 flex-col justify-center overflow-hidden whitespace-nowrap rounded-lg bg-slate-700 text-center text-white transition-all" role="progressbar" aria-valuenow="<%= @discipline[:stats][:day] %>" aria-valuemin="0" aria-valuemax="3"></div>
          </div>
          <div class="flex mb-2 ">
            <div class="flex items-center justify-center w-5 h-5 mr-2 text-center bg-center rounded fill-current shadow-soft-2xl bg-gradient-to-tl text-neutral-900">
              <svg fill="#000000" viewBox="0 0 240 240" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="enable-background:new 0 0 240 240" xml:space="preserve">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <g>
                    <path d="M58.57,25.81c-2.13-3.67-0.87-8.38,2.8-10.51c3.67-2.13,8.38-0.88,10.51,2.8l9.88,17.1c2.13,3.67,0.87,8.38-2.8,10.51 c-3.67,2.13-8.38,0.88-10.51-2.8L58.57,25.81L58.57,25.81z M120,51.17c19.01,0,36.21,7.7,48.67,20.16 C181.12,83.79,188.83,101,188.83,120c0,19.01-7.7,36.21-20.16,48.67c-12.46,12.46-29.66,20.16-48.67,20.16 c-19.01,0-36.21-7.7-48.67-20.16C58.88,156.21,51.17,139.01,51.17,120c0-19.01,7.7-36.21,20.16-48.67 C83.79,58.88,101,51.17,120,51.17L120,51.17z M158.27,81.73c-9.79-9.79-23.32-15.85-38.27-15.85c-14.95,0-28.48,6.06-38.27,15.85 c-9.79,9.79-15.85,23.32-15.85,38.27c0,14.95,6.06,28.48,15.85,38.27c9.79,9.79,23.32,15.85,38.27,15.85 c14.95,0,28.48-6.06,38.27-15.85c9.79-9.79,15.85-23.32,15.85-38.27C174.12,105.05,168.06,91.52,158.27,81.73L158.27,81.73z M113.88,7.71c0-4.26,3.45-7.71,7.71-7.71c4.26,0,7.71,3.45,7.71,7.71v19.75c0,4.26-3.45,7.71-7.71,7.71 c-4.26,0-7.71-3.45-7.71-7.71V7.71L113.88,7.71z M170.87,19.72c2.11-3.67,6.8-4.94,10.48-2.83c3.67,2.11,4.94,6.8,2.83,10.48 l-9.88,17.1c-2.11,3.67-6.8,4.94-10.48,2.83c-3.67-2.11-4.94-6.8-2.83-10.48L170.87,19.72L170.87,19.72z M214.19,58.57 c3.67-2.13,8.38-0.87,10.51,2.8c2.13,3.67,0.88,8.38-2.8,10.51l-17.1,9.88c-3.67,2.13-8.38,0.87-10.51-2.8 c-2.13-3.67-0.88-8.38,2.8-10.51L214.19,58.57L214.19,58.57z M232.29,113.88c4.26,0,7.71,3.45,7.71,7.71 c0,4.26-3.45,7.71-7.71,7.71h-19.75c-4.26,0-7.71-3.45-7.71-7.71c0-4.26,3.45-7.71,7.71-7.71H232.29L232.29,113.88z M220.28,170.87 c3.67,2.11,4.94,6.8,2.83,10.48c-2.11,3.67-6.8,4.94-10.48,2.83l-17.1-9.88c-3.67-2.11-4.94-6.8-2.83-10.48 c2.11-3.67,6.8-4.94,10.48-2.83L220.28,170.87L220.28,170.87z M181.43,214.19c2.13,3.67,0.87,8.38-2.8,10.51 c-3.67,2.13-8.38,0.88-10.51-2.8l-9.88-17.1c-2.13-3.67-0.87-8.38,2.8-10.51c3.67-2.13,8.38-0.88,10.51,2.8L181.43,214.19 L181.43,214.19z M126.12,232.29c0,4.26-3.45,7.71-7.71,7.71c-4.26,0-7.71-3.45-7.71-7.71v-19.75c0-4.26,3.45-7.71,7.71-7.71 c4.26,0,7.71,3.45,7.71,7.71V232.29L126.12,232.29z M69.13,220.28c-2.11,3.67-6.8,4.94-10.48,2.83c-3.67-2.11-4.94-6.8-2.83-10.48 l9.88-17.1c2.11-3.67,6.8-4.94,10.48-2.83c3.67,2.11,4.94,6.8,2.83,10.48L69.13,220.28L69.13,220.28z M25.81,181.43 c-3.67,2.13-8.38,0.87-10.51-2.8c-2.13-3.67-0.88-8.38,2.8-10.51l17.1-9.88c3.67-2.13,8.38-0.87,10.51,2.8 c2.13,3.67,0.88,8.38-2.8,10.51L25.81,181.43L25.81,181.43z M7.71,126.12c-4.26,0-7.71-3.45-7.71-7.71c0-4.26,3.45-7.71,7.71-7.71 h19.75c4.26,0,7.71,3.45,7.71,7.71c0,4.26-3.45,7.71-7.71,7.71H7.71L7.71,126.12z M19.72,69.13c-3.67-2.11-4.94-6.8-2.83-10.48 c2.11-3.67,6.8-4.94,10.48-2.83l17.1,9.88c3.67,2.11,4.94,6.8,2.83,10.48c-2.11,3.67-6.8,4.94-10.48,2.83L19.72,69.13L19.72,69.13z"></path>
                  </g>
                </g>
              </svg>
            </div>
            <p class="mt-1 text-xl mb-0 font-semibold leading-tight text-xs dark:opacity-60">
              Day
            </p>
          </div>
        </div>
        <div class="flex-none text-xl w-1/4 max-w-full py-4 pl-0 pr-3 mt-0">
          <i class="fa-solid fa-gauge-high"></i>
          <h4 class="font-bold"><%= @discipline[:stats][:week][:number] %> <i class="fas fa-<%= @discipline[:stats][:week][:icon] %> fa-xs" style="color: #e60000;"></i></h4>
          <div class="text-xs h-0.75 flex w-3/4 overflow-visible rounded-lg bg-gray-200">
            <div class="duration-600 ease-soft -mt-0.4 -ml-px flex h-1.5 w-3/5 flex-col justify-center overflow-hidden whitespace-nowrap rounded-lg bg-slate-700 text-center text-white transition-all" role="progressbar" aria-valuenow="<%= @discipline[:stats][:week] %>" aria-valuemin="0" aria-valuemax="3"></div>
          </div>
          <div class="flex mb-2">
            <div class="flex items-center justify-center w-5 h-5 mr-2 text-center bg-center rounded fill-current shadow-soft-2xl bg-gradient-to-tl text-neutral-900">
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path d="M20 10V7C20 5.89543 19.1046 5 18 5H6C4.89543 5 4 5.89543 4 7V10M20 10V19C20 20.1046 19.1046 21 18 21H6C4.89543 21 4 20.1046 4 19V10M20 10H4M8 3V7M16 3V7" stroke="#000000" stroke-width="2" stroke-linecap="round"></path>
                  <rect x="13" y="14" width="5" height="5" rx="1" fill="#000000"></rect>
                </g>
              </svg>
            </div>
            <p class="mt-1 mb-0 font-semibold leading-tight text-xs dark:opacity-60">Week</p>
          </div>
        </div>
        <div class="flex-none text-xl w-1/4 max-w-full py-4 pl-0 pr-3 mt-0">
          <i class="fa-solid fa-gauge-high"></i>
          <h4 class="font-bold"><%= @discipline[:stats][:micro_goal][:number] %> <i class="fas fa-<%= @discipline[:stats][:micro_goal][:icon] %> fa-xs" style="color: #e60000;"></i></h4>
          <div class="text-xs h-0.75 flex w-3/4 overflow-visible rounded-lg bg-gray-200">
            <div class="duration-600 ease-soft -mt-0.4 -ml-px flex h-1.5 w-3/5 flex-col justify-center overflow-hidden whitespace-nowrap rounded-lg bg-slate-700 text-center text-white transition-all" role="progressbar" aria-valuenow="<%= @discipline[:stats][:micro_goal] %>" aria-valuemin="0" aria-valuemax="3"></div>
          </div>
          <div class="flex mb-2">
            <div class="flex items-center justify-center w-5 h-5 mr-2 text-center bg-center rounded fill-current shadow-soft-2xl bg-gradient-to-tl text-neutral-900">
              <svg fill="#000000" viewBox="0 0 24 24" id="goal" data-name="Flat Line" xmlns="http://www.w3.org/2000/svg" class="icon flat-line">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <polygon id="secondary" points="15 6 15 9 18 9 21 6 18 6 18 3 15 6" style="fill: #2ca9bc; stroke-width: 2;"></polygon>
                  <path id="primary" d="M15,9l-2.5,2.5M15,6V9h3l3-3H18V3Z" style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
                  <path id="primary-2" data-name="primary" d="M12.33,3H12a9,9,0,1,0,9,9c0-.11,0-.22,0-.33" style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
                  <path id="primary-3" data-name="primary" d="M16.9,13A5,5,0,1,1,11,7.1" style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
                </g>
              </svg>
            </div>
            <p class="mt-1 mb-0 font-semibold leading-tight text-xs dark:opacity-60">Micro Goal</p>
          </div>
        </div>
        <div class="flex-none text-xl w-1/4 max-w-full py-4 pl-0 pr-3 mt-0">
          <h4 class="font-bold"><%= @discipline[:stats][:goal] %></h4>
          <div class="text-xs h-0.75 flex w-3/4 overflow-visible rounded-lg bg-gray-200">
            <div class="duration-600 ease-soft -mt-0.4 -ml-px flex h-1.5 w-1/2 flex-col justify-center overflow-hidden whitespace-nowrap rounded-lg bg-slate-700 text-center text-white transition-all" role="progressbar" aria-valuenow="<%= @discipline[:stats][:goal] %>" aria-valuemin="0" aria-valuemax="1890"></div>
          </div>
          <div class="flex mb-2">
            <div class="flex items-center justify-center w-5 h-5 mr-2 text-center bg-center rounded fill-current shadow-soft-2xl bg-gradient-to-tl text-neutral-900">
              <svg fill="#000000" viewBox="0 0 24 24" id="goal-2" data-name="Flat Line" xmlns="http://www.w3.org/2000/svg" class="icon flat-line">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path id="secondary" d="M18.7,19.38A1,1,0,0,1,17.92,21H6.08a1,1,0,0,1-.78-1.62L12,11Z" style="fill: #2ca9bc; stroke-width: 2;"></path>
                  <path id="primary" d="M12,11V3m6,1H12V8h6L17,6Zm-6,7L5.3,19.38A1,1,0,0,0,6.08,21H17.92a1,1,0,0,0,.78-1.62Z" style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
                </g>
              </svg>
            </div>
            <p class="mt-1 mb-0 font-semibold leading-tight text-xs dark:opacity-60">Goal</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">

    (function () {
        var discipline =
        <%= @discipline.to_json.html_safe %>
        var config = {
            type: "line",
            data: discipline["chart"],
            options: {
                maintainAspectRatio: false,
                responsive: true,
                title: {
                    display: false,
                    text: "Sales Charts",
                    fontColor: "white",
                },
                legend: {
                    labels: {
                        fontColor: "white",
                    },
                    align: "end",
                    position: "bottom",
                },
                tooltips: {
                    mode: "index",
                    intersect: false,
                },
                hover: {
                    mode: "nearest",
                    intersect: true,
                },
                scales: {
                    xAxes: [
                        {
                            ticks: {
                                fontColor: "rgba(255,255,255,.7)",
                            },
                            display: true,
                            scaleLabel: {
                                display: false,
                                labelString: "Month",
                                fontColor: "white",
                            },
                            gridLines: {
                                display: false,
                                borderDash: [2],
                                borderDashOffset: [2],
                                color: "rgba(33, 37, 41, 0.3)",
                                zeroLineColor: "rgba(0, 0, 0, 0)",
                                zeroLineBorderDash: [2],
                                zeroLineBorderDashOffset: [2],
                            },
                        },
                    ],
                    yAxes: [
                        {
                            ticks: {
                                fontColor: "rgba(255,255,255,.7)",
                            },
                            display: true,
                            scaleLabel: {
                                display: false,
                                labelString: "Value",
                                fontColor: "white",
                            },
                            gridLines: {
                                borderDash: [3],
                                borderDashOffset: [3],
                                drawBorder: false,
                                color: "rgba(255, 255, 255, 0.15)",
                                zeroLineColor: "rgba(33, 37, 41, 0)",
                                zeroLineBorderDash: [2],
                                zeroLineBorderDashOffset: [2],
                            },
                        },
                    ],
                },
            },
        };
        var ctx = document.getElementById("line-chart").getContext("2d");
        window.myLine = new Chart(ctx, config);
    })();
</script>