<section class="bg-white dark:bg-gray-900">
  <div class="max-w-4xl px-4 py-8 mx-auto lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white"> <%= I18n.t('student.view.edit.title') %> <%= @student.name %></h2>

    <%= form_for @student, url: profile_path(@student.login) do |f| %>
      <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">

        <div class="sm:col-span-2">
          <label for="student_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= I18n.t('student.view.edit.field.name') %></label>
          <%= f.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: I18n.t('student.view.edit.field.name') %>
        </div>

        <div class="w-full">
          <label for="student_type_career" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= I18n.t('student.view.edit.field.type_of_carreer') %></label>
          <%= f.select :type_career, Student.type_careers.keys.map { |k| [I18n.t("activerecord.attributes.student.type_career.#{k}"), k] }, {}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
        </div>

        <div class="sm:col-span-2">
          <label for="student_description_career" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= I18n.t('student.view.edit.field.description_of_carreer') %></label>
          <%= f.text_area :description_career, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: I18n.t('student.view.edit.field.description_of_carreer') %>
        </div>

        <div class="sm:col-span-2">
          <label for="student_salary" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= I18n.t('student.view.edit.field.salary') %></label>
          <%= f.text_field :salary, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: I18n.t('student.view.edit.field.salary') %>
        </div>

        <div class="sm:col-span-2">
          <label for="student_profile_discord" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= I18n.t('student.view.edit.field.discord_profile') %></label>
          <%= f.text_field :profile_discord, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: I18n.t('student.view.edit.field.discord_profile') %>
        </div>

        <div class="sm:col-span-2">
          <label for="student_github_link" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= I18n.t('student.view.edit.field.github_link') %></label>
          <%= f.text_field :github_link, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: I18n.t('student.view.edit.field.github_link') %>
        </div>

        <div class="sm:col-span-2">
          <label for="student_wakatime_link" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= I18n.t('student.view.edit.field.wakatime_link') %></label>
          <%= f.text_field :wakatime_link, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: I18n.t('student.view.edit.field.wakatime_link') %>
        </div>

        <div class="sm:col-span-2">
          <label for="student_linkedin_link" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= I18n.t('student.view.edit.field.linkedin_link') %></label>
          <%= f.text_field :linkedin_link, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: I18n.t('student.view.edit.field.linkedin_link') %>
        </div>

        <div class="sm:col-span-2">
          <label for="student_time_available" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= I18n.t('student.view.edit.field.time_available') %></label>
          <%= f.text_field :time_available, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: I18n.t('student.view.edit.field.time_available') %>
        </div>

        <div class="sm:col-span-2">
          <%= f.button I18n.t('student.view.edit.button'), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
        </div>
      </div>
    <% end %>

  </div>
</section>

