<h1>Name: <%= @student.name %></h1>
<h2>Login: <%= @student.login %></h2>
<h2>Enrollment date: <%= @student.enrollment_date %></h2>
<h2>Class progress: <%= @student.class_progress %></h2>
<h2>Level potential: <%= @student.level_potential %></h2>
<h2>Github intensity: <%= @student.github_intensity %></h2>
<h2>Linkedin intensity: <%= @student.linkedin_intensity %></h2>
<h2>Wakatime intensity: <%= @student.wakatime_intensity %></h2>