<%= form_with(model: [@preparation, @preparations_release, preparations_issue], local: true) do |form| %>
  <div>
    <%= form.label :issue_link , t('preparation_issue.form.issue_link') %>
    <%= form.text_field :issue_link %>
  </div>
  <div>
    <%= form.label :pull_request_link, t('preparation_issue.form.pull_request_link') %>
    <%= form.text_field :pull_request_link %>
  </div>
  <%= form.submit %>
<% end %>
