<%= form_with(model: [@preparation, @preparation_release, @preparation_issue], local: true) do |form| %>
  <div class="field">
    <%= form.label :issue_link %>
    <%= form.text_field :issue_link %>
  </div>
  <div class="field">
    <%= form.label :pull_request_link %>
    <%= form.text_field :pull_request_link %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
