<%= form_for(@portfolio) do |f| %>
  <div class="field">
    <%= f.label :name, t('.name') %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :repository_link, t('.repository_link') %>
    <%= f.text_field :repository_link %>
  </div>
  <div class="field">
    <%= f.label :project_link, t('.project_link') %>
    <%= f.text_field :project_link %>
  </div>
  <div class="field">
    <%= f.label :readme_link, t('.readme_link') %>
    <%= f.text_field :readme_link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
