<h1><%= t('portfolios.index.title') %></h1>

<ul>
  <% @portfolios.each do |portfolio| %>
    <li>
      <%= portfolio.name %> |
      <%= link_to t('portfolios.index.show'), portfolio_path(portfolio) %> |
      <%= link_to t('portfolios.index.edit'), edit_portfolio_path(portfolio) %> |
      <%= button_to t('portfolios.index.delete'), portfolio_path(portfolio), method: :delete, data: { confirm: t('portfolios.index.are you sure') } %>
    </li>
  <% end %>
</ul>

<%= link_to t('portfolios.index.new portfolio'), new_portfolio_path %>
