<h1>Portfolios</h1>

<ul>
  <% @portfolios.each do |portfolio| %>
    <li>
      <%= portfolio.name %> |
      <%= link_to 'Show', portfolio_path(portfolio) %> |
      <%= link_to 'Edit', edit_portfolio_path(portfolio) %> |
      <%= button_to 'Delete', portfolio_path(portfolio), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Portfolio', new_portfolio_path %>
