<h1>Release details</h1>
<p>Milestone Release Link: <%= @portfolio_release.milestone_release_link %></p>
<p>Pull Request Link: <%= @portfolio_release.pull_request_release_link %></p>

<%= link_to 'Edit', edit_portfolio_portfolio_release_path(@portfolio, @portfolio_release) %> |
<%= link_to 'Back', portfolio_path(@portfolio) %>

<h2>Portfolio Issues</h2>
<ul>
  <% @portfolio_issues.each do |issue| %>
    <li>
      <%= "Issue ##{issue.id}" %> |
      <%= link_to 'Show', portfolio_portfolio_release_portfolio_issue_path(@portfolio, @portfolio_release, issue) %> |
      <%= link_to 'Edit', edit_portfolio_portfolio_release_portfolio_issue_path(@portfolio, @portfolio_release, issue) %> |
      <%= button_to 'Delete', portfolio_portfolio_release_portfolio_issue_path(@portfolio, @portfolio_release, issue), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
<%= link_to 'Create Issue', new_portfolio_portfolio_release_portfolio_issue_path(@portfolio, @portfolio_release) %>
