<%= form_with(model: @objective) do |form| %>
  <% if @objective.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@objective.errors.count, "error") %> prohibited this objective from being saved:</h2>

      <ul>
        <% @objective.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :reason, style: "display: block" %>
    <%= form.text_field :reason %>
  </div>

  <div>
    <%= form.submit I18n.t("helpers.objectives.submit.#{locals[:action]}") %>
  </div>
<% end %>
