<div id="<%= dom_id objective %>">
  <p>
    <strong>Student:</strong>
    <%= objective.student_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= objective.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= objective.description %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= objective.reason %>
  </p>

</div>
