<div id="<%= dom_id objective %>">
  <p>
    <strong><%= I18n.t('activerecord.attributes.objective.title') %>:</strong>
    <%= objective.title %>
  </p>

  <% objective.objective_questions.each do |question| %>
    <strong><%= question.type_question %>:</strong>
    <strong><%= question.description %></strong>
    <%= question.answer %>
    <br>
  <%end %>
</div>
