<div id="<%= dom_id objective %>">
  <p>
    <strong>Title:</strong>
    <%= objective.title %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= objective.reason %>
  </p>

  <p>
    <strong>People involved:</strong>
    <%= objective.people_involved %>
  </p>

  <p>
    <strong>Resources:</strong>
    <%= objective.resources %>
  </p>

  <p>
    <strong>Expected results:</strong>
    <%= objective.expected_results %>
  </p>

  <p>
    <strong>Achieved:</strong>
    <%= objective.achieved %>
  </p>

  <p>
    <strong>Metrics:</strong>
    <%= objective.metrics %>
  </p>

  <p>
    <strong>Max deadline:</strong>
    <%= objective.max_deadline %>
  </p>

  <p>
    <strong>Min deadline:</strong>
    <%= objective.min_deadline %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= objective.student_id %>
  </p>

</div>
