<div id="<%= dom_id objective %>">
  <p>
    <strong><%= I18n.t('objective.title') %></strong>
    <%= objective.title %>
  </p>

  <p>
    <strong><%= I18n.t('objective.reason') %></strong>
    <%= objective.reason %>
  </p>

  <p>
    <strong><%= I18n.t('objective.people_involved') %></strong>
    <%= objective.people_involved %>
  </p>

  <p>
    <strong><%= I18n.t('objective.resources') %></strong>
    <%= objective.resources %>
  </p>

  <p>
    <strong><%= I18n.t('objective.expected_results') %></strong>
    <%= objective.expected_results %>
  </p>

  <p>
    <strong><%= I18n.t('objective.achieved') %></strong>
    <%= objective.achieved %>
  </p>

  <p>
    <strong><%= I18n.t('objective.metrics') %></strong>
    <%= objective.metrics %>
  </p>

  <p>
    <strong><%= I18n.t('objective.max_deadline') %></strong>
    <%= objective.max_deadline %>
  </p>

  <p>
    <strong><%= I18n.t('objective.min_deadline') %></strong>
    <%= objective.min_deadline %>
  </p>

</div>
