<div id="<%= dom_id objective %>">
  <p>
    <strong><%= I18n.t('objective.partial_objective.title') %></strong>
    <%= objective.title %>
  </p>

  <p>
    <strong><%= I18n.t('objective.partial_objective.description') %></strong>
    <%= objective.description %>
  </p>

  <p>
    <strong><%= I18n.t('objective.partial_objective.reason') %></strong>
    <%= objective.reason %>
  </p>

</div>
