<p style="color: green"><%= notice %></p>

<%= render @objective %>

<div>
  <ul>
    <li><%= link_to I18n.t('objective.edit'), edit_objective_path(@objective) %></li>
    <li><%= link_to I18n.t('objective.back'), objectives_path %></li>
    <li><%= link_to I18n.t('objective.destroy'), objective_path(@objective), data: {
      turbo_method: :delete,
      turbo_confirm: I18n.t('sure')
    } %></li>
  </ul>
</div>
