<div id="<%= dom_id course_basic %>">

  <p>
    <strong><%= t('course_basics.view.number_of_course')%> </strong>
    <%= course_basic.number_of_course %>
  </p>

  <p>
    <strong><%= t('course_basics.view.link_course') %></strong>
    <%= course_basic.link_course %>
  </p>

  <p>
    <strong><%= t('course_basics.view.link_repository') %></strong>
    <%= course_basic.link_repository %>
  </p>

  <p>
    <strong><%= t('course_basics.view.link_certified') %></strong>
    <%= course_basic.link_certified %>
  </p>

  <p>
    <strong><%= t('course_basics.view.avaliation_course') %></strong>
    <%= course_basic.avaliation_course %>
  </p>

  <p>
    <strong><%= t('course_basics.view.avaliation_apprenticeship') %></strong>
    <%= course_basic.avaliation_apprenticeship %>
  </p>
</div>
