<h1>Tests Battles</h1>
<table>
  <thead>
  <tr>
    <th>Battle</th>
    <th>Milestone Release Link</th>
    <th>Pull Request Release Link</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @tests_battles.each do |battle| %>
    <tr>
      <td><%= battle.battle %></td>
      <td><%= battle.milestone_release_link %></td>
      <td><%= battle.pull_request_release_link %></td>
      <td><%= link_to 'Show', [@test, battle] %></td>
      <td><%= link_to 'Edit', edit_test_tests_battle_path(@test, battle) %></td>
      <td><%= button_to 'Destroy', [@test, battle], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
<%= link_to 'New Battles', new_test_tests_battle_path(@test) %>
<%= link_to 'Back', tests_path %>
</p>