<div id="<%= dom_id experience %>">
  <p>
    <strong>Student:</strong>
    <%= experience.student_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= experience.content %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= experience.category %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= experience.level %>
  </p>

  <p>
    <strong>Week:</strong>
    <%= experience.week %>
  </p>

</div>
