<%= form_with(model: experience) do |form| %>
  <% if experience.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
        <% experience.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.select :category, options_for_select(['Medo', 'Dificuldade', 'Aprendizado', 'Insight', 'Feedback']) %>
  </div>

  <div>
    <%= form.select :level, options_for_select({ 'Nível 1' => 1, 'Nível 2' => 2, 'Nível 3' => 3, 'Nível 4' => 4, 'Nível 5' => 5, 'Nível 6' => 6, 'Nível 7' => 7, 'Nível 8' => 8}) %>
  </div>

  <div class="field">
    <%= form.select :week, options_for_select({ 'Semana 1' => 1, 'Semana 2' => 2, 'Semana 3' => 3, 'Semana 4' => 4 }) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
