<p style="color: green"><%= notice %></p>
<p style="color: red"><%= flash[:alert] %></p>

<h1><%= I18n.t('experience.title') %></h1>

<div id="experiences">
  <% @experiences.each do |experience| %>
    <%= render experience %>
    <p>
      <%= link_to I18n.t('experience.show'), experience %>
    </p>
  <% end %>
</div>

<%= link_to I18n.t('experience.new'), new_experience_path %>
