<p style="color: green"><%= notice %></p>

<%= render @experience %>

<div>
  <%= link_to I18n.t('experience.edit'), edit_experience_path(@experience) %> |
  <%= link_to I18n.t('experience.back'), experiences_path %>

  <%= button_to I18n.t('experience.destroy'), @experience, method: :delete %>
</div>
