<%= form_with(model: preparation) do |form| %>
  <% if preparation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preparation.errors.count, 'error') %> prohibited this preparation from being saved:</h2>

      <ul>
        <% preparation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, t('.name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :project, t('.project') %>
    <%= form.text_field :project %>
  </div>

  <div class="field">
    <%= form.label :readme, t('.readme') %>
    <%= form.text_field :readme %>
  </div>

  <div class="field">
    <%= form.label :link, t('.link') %>
    <%= form.text_field :link %>
  </div>

  <div class="field">
    <%= form.label :release, t('.release') %>
    <%= form.select :release, (1..5).to_a %>
  </div>

  <div class="field">
    <%= form.label :release_type, t('.release_type') %>
    <%= form.select :release_type, ['Milestone Release', 'Pull Request Release', 'Pull Request Branch 1', 'Pull Request Branch 2', 'Pull Request Branch 3', 'Pull Request Branch 4', 'Pull Request Branch 5', 'Pull Request Branch 6', 'Pull Request Branch 7', 'Pull Request Branch 8', 'Issue 1', 'Issue 2', 'Issue 3', 'Issue 4', 'Issue 5', 'Issue 6', 'Issue 7', 'Issue 8'] %>
  </div>

  <div class="actions">
    <%= form.submit t("helpers.preparations.submit.#{locals[:action]}") %>
  </div>
<% end %>
