<%= form_with(model: preparation, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :repository_link %>
    <%= form.text_field :repository_link %>
  </div>
  <div>
    <%= form.label :project_link %>
    <%= form.text_field :project_link %>
  </div>
  <div>
    <%= form.label :readme_link %>
    <%= form.text_field :readme_link %>
  </div>
  <%= form.submit %>
<% end %>
