<h1>Preparations</h1>
<ul>
  <% @preparations.each do |preparation| %>
    <li>
      <%= link_to preparation.name, preparation %>
      <%= link_to 'Show', preparation %>
      <%= link_to 'Edit', edit_preparation_path(preparation) %>
      <%= button_to 'Delete', preparation, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
<%= link_to 'New Preparation', new_preparation_path %>
