<h1><%= t('preparation.index.title') %></h1>
<ul>
  <% @preparations.each do |preparation| %>
    <li>
      <%= preparation.name %> |
      <%= link_to t('preparation.index.show'), preparation %> |
      <%= link_to t('preparation.index.edit'), edit_preparation_path(preparation) %>
      <%= button_to t('preparation.index.destroy'), preparation, method: :delete, data: { confirm: t('preparation.index.sure') } %>
    </li>
  <% end %>
</ul>
<%= link_to t('preparation.index.new_preparation'), new_preparation_path %>
