<p style="color: green"><%= notice %></p>
<h1><%= t('preparation.index.title') %></h1>

<table>
  <thead>
  <tr>
    <th><%= t('preparation.index.name') %></th>
    <th><%= t('preparation.index.project') %></th>
    <th><%= t('preparation.index.readme') %></th>
    <th><%= t('preparation.index.link') %></th>
    <th><%= t('preparation.index.release') %></th>
    <th><%= t('preparation.index.release_type') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @preparations.each do |preparation| %>
    <tr>
      <td><%= preparation.name %></td>
      <td><%= preparation.project %></td>
      <td><%= preparation.readme %></td>
      <td><%= preparation.link %></td>
      <td><%= preparation.release %></td>
      <td><%= preparation.release_type %></td>
      <td><%= link_to t('preparation.index.show'), preparation %></td>
      <td><%= link_to t('preparation.index.edit'), edit_preparation_path(preparation) %></td>
      <td><%= button_to t('preparation.index.destroy'), preparation, method: :delete, data: { confirm: t('preparation.index.confirmation') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('preparation.index.new_preparation'), new_preparation_path %>
