<p>
  <strong><%= t('preparation.show.name') %>:</strong>
  <%= @preparation.name %>
</p>

<p>
  <strong><%= t('preparation.show.project') %>:</strong>
  <%= @preparation.project %>
</p>

<p>
  <strong><%= t('preparation.show.readme') %>:</strong>
  <%= @preparation.readme %>
</p>

<p>
  <strong><%= t('preparation.show.link') %>:</strong>
  <%= @preparation.link %>
</p>

<p>
  <strong><%= t('preparation.show.release') %>:</strong>
  <%= @preparation.release %>
</p>

<p>
  <strong><%= t('preparation.show.release_type') %>:</strong>
  <%= @preparation.release_type %>
</p>

<%= link_to t('preparation.show.edit'), edit_preparation_path(@preparation) %> |
<%= link_to t('preparation.show.back'), preparations_path %>
