<h1><%= @preparation.name %></h1>
<p>Repository Link: <%= @preparation.repository_link %></p>
<p>Project Link: <%= @preparation.project_link %></p>
<p>Readme Link: <%= @preparation.readme_link %></p>
<%= link_to 'Edit', edit_preparation_path(@preparation) %> |
<%= link_to 'Back', preparations_path %>

<br>
<%= link_to 'New Preparations Release', new_preparation_preparations_release_path(@preparation) %>
<br>

<h2>Preparations Releases</h2>
<ul>
  <% @preparation.preparations_releases.each do |release| %>
    <li>
      <%= link_to "Release ##{release.id}", preparation_preparations_release_path(@preparation, release) %>
      <%= link_to 'Show', preparation_preparations_release_path(@preparation, release) %>
      <%= link_to 'Edit', edit_preparation_preparations_release_path(@preparation, release) %>
      <%= link_to 'Delete', preparation_preparations_release_path(@preparation, release),
                  method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>