<p>
  <strong>Name:</strong>
  <%= @preparation.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @preparation.project %>
</p>

<p>
  <strong>Readme:</strong>
  <%= @preparation.readme %>
</p>

<p>
  <strong>Link:</strong>
  <%= @preparation.link %>
</p>

<p>
  <strong>Release:</strong>
  <%= @preparation.release %>
</p>

<p>
  <strong>Release Type:</strong>
  <%= @preparation.release_type %>
</p>

<%= link_to 'Edit', edit_preparation_path(@preparation) %> |
<%= link_to 'Back', preparations_path %>
