<div id="<%= dom_id goal_question %>">
  <p>
    <strong><%= t("goal_question.goal_question.type_question") %>:</strong>
    <%= goal_question.type_question %>
  </p>

  <p>
    <strong><%= t('goal_question.goal_question.description') %>:</strong>
    <%= goal_question.description %>
  </p>

  <p>
    <strong><%= t('goal_question.goal_question.answer') %>:</strong>
    <%= goal_question.answer %>
  </p>

  <p>
    <strong><%= t('goal_question.goal_question.goal') %>:</strong>
    <%= goal_question.goal_id %>
  </p>

</div>
