<div id="<%= dom_id goal_question %>">
  <p>
    <strong>Type question:</strong>
    <%= goal_question.type_question %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= goal_question.description %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= goal_question.answer %>
  </p>

  <p>
    <strong>Goal:</strong>
    <%= goal_question.goal_id %>
  </p>

</div>
