<div id="<%= dom_id micro_goal %>">
  <p>
    <strong>Micro goal:</strong>
    <%= micro_goal.micro_goal %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= micro_goal.task %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= micro_goal.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= micro_goal.end_date %>
  </p>

  <p>
    <strong>Percentage:</strong>
    <%= micro_goal.percentage %>
  </p>

</div>
