<p>
  <strong><%= t('views.micro_goal_tasks.micro_goal_task.task_label') %>:</strong>
  <%= micro_goal_task.task %>
</p>

<p>
  <strong><%= t('views.micro_goal_tasks.micro_goal_task.start_date_label') %>:</strong>
  <%= micro_goal_task.start_date %>
</p>

<p>
  <strong><%= t('views.micro_goal_tasks.micro_goal_task.end_date_label') %>:</strong>
  <%= micro_goal_task.end_date %>
</p>

<p>
  <strong><%= t('views.micro_goal_tasks.micro_goal_task.percentage_label') %>:</strong>
  <%= micro_goal_task.percentage %>
</p>
