<%= form_with(model: goal) do |form| %>
  <% if goal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(goal.errors.count, "error") %> <%= t('goal.form.prohibited_this_goal_from_being_saved') %>:</h2>

      <ul>
        <% goal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, t('goal.form.description'),  style: "display: block" %>
    <%= form.text_field :description %>
  </div>

<!--  <div>-->
    <%#= form.label :student_id, style: "display: block" %>
    <%#= form.text_field :student_id %>
<!--  </div>-->

  <div>
    <%= form.submit button_label %>
  </div>
<% end %>
