<div id="<%= dom_id goal %>">
  <p>
    <strong><%= t('goal.goal.description') %>:</strong>
    <%= goal.description %>
  </p>

  <p>
    <strong><%= t('goal.goal.student') %>:</strong>
    <%= goal.student.name %>
  </p>

</div>
