<p style="color: green"><%= notice %></p>

<%= render @goal %>

<div>
  <%= link_to t('goal.show.back_to_goals'), goal_goal_questions_path(@goal) %> |
  <%= link_to t('goal.show.edit_this_goal'), edit_goal_path(@goal) %> |
  <%= link_to t('goal.show.back_to_goals'), goals_path %> |

  <%= button_to t('goal.show.destroy_this_goal'), @goal, method: :delete %>
</div>
