<div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
    <div class="w-full md:w-1/2">
      <h1 class="text-2xl font-semibold text-gray-900 dark:text-white"><%= I18n.t('activerecord.attributes.interview.interview_type') %>: <%= @interview.interview_type %></h1>
    </div>
    <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
      <%= link_to new_interview_interview_video_path, class: "flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" do %>
        <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
        </svg>
        <%= I18n.t('interview.interview_videos.new') %>
      <% end %>
    </div>
  </div>
  <div class="overflow-x-auto">
    <table class="w-full text-sm text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr class="flex justify-between">
        <th scope="col" class="px-4 py-3"><%= I18n.t('activerecord.attributes.interview_video.video_link') %></th>
        <th scope="col" class="px-4 py-3">Ações</th>
      </tr>
      </thead>
      <tbody>
      <% @interview_videos.each do |interview_video| %>
        <tr class="border-b dark:border-gray-700 flex justify-between">
          <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= link_to interview_video.video_link, interview_video.video_link, target: '_blank' %>
          </th>
          <td class="px-4 py-3 flex items-center justify-end">
            <button id="interview-video-<%= interview_video.id %>-dropdown-button" data-dropdown-toggle="interview-video-<%= interview_video.id %>-dropdown" class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100" type="button">
              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
              </svg>
            </button>
            <div id="interview-video-<%= interview_video.id %>-dropdown" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
              <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="interview-video-<%= interview_video.id %>-dropdown-button">
                <li>
                  <%= link_to I18n.t('interview.interview_videos.show'), [@interview, interview_video], class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                </li>
                <li>
                  <%= link_to I18n.t('interview.interview_videos.edit'), edit_interview_interview_video_path(@interview, interview_video), class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>


      </tbody>
    </table>
  </div>
</div>
<%= link_to I18n.t('interview.interview_videos.back_interview'), interview_path(@interview), class: "text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>