<p style="color: green"><%= notice %></p>

<%= render @interview_video %>

<div>
  <%= link_to "Edit this interview video", edit_interview_video_path(@interview_video) %> |
  <%= link_to "Back to interview videos", interview_videos_path %>

  <%= button_to "Destroy this interview video", @interview_video, method: :delete %>
</div>
