<div id="<%= dom_id thought %>">
  <p>
    <strong><%= t('views.thought.level') %>:</strong>
    <%= thought.level %>
  </p>

  <p>
    <strong><%= t('views.thought.positive') %>:</strong>
    <%= thought.positive %>
  </p>

  <p>
    <strong><%= t('views.thought.negative') %>:</strong>
    <%= thought.negative %>
  </p>

</div>
