<div id="<%= dom_id thought %>">
  <div class="thought">
    <h1><%=t('views.thoughts.thought.thought_title') %>:</h1>

    <p><strong><%=t('views.thoughts.thought.level_label') %>:</strong> <%= thought.level %></p>
    <p><strong><%=t('views.thoughts.thought.positive_label') %>:</strong> <%= thought.positive %></p>
    <p><strong><%=t('views.thoughts.thought.negative_label') %>:</strong> <%= thought.negative %></p>
  </div>

</div>
