<h1><%= Thought.model_name.human(count: @thoughts.count) %></h1>
<p style="color: green"><%= notice %></p>

<!--<h1>Thoughts:</h1>-->
<!--<hr>-->

<div id="thoughts">
  <% @thoughts.each do |thought| %>
    <%= render thought %>
    <p>
      <%= link_to t('thoughts.view.show'), thought %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to t('thoughts.view.new'), new_thought_path %>
