<!DOCTYPE html>
<html>
<head>
  <title>DeveloperEvolution</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_importmap_tags %>
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
</head>

<body>
<% if user_signed_in? %>
  <%= link_to "Principal", root_path %>

  <%= link_to "Perfil", current_user.student.login %>

  <%= link_to "Sair", destroy_user_session_path, data: { "turbo-method": :delete } %>
<% else %>
  <%= link_to "Entrar", user_session_path, method: :post %>
<% end %>
<%= yield %>
</body>
</html>
