<%= form_with(model: [@preparation, @preparation_release], local: true) do |form| %>
  <div class="field">
    <%= form.label :milestone_release_link %>
    <%= form.text_field :milestone_release_link %>
  </div>
  <div class="field">
    <%= form.label :pull_request_release_link %>
    <%= form.text_field :pull_request_release_link %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
