<h2>Releases</h2>
<ul>
  <% @preparations_releases.each do |release| %>
    <li>
      <%= "Release ##{release.id}" %> |
      <%= link_to t('preparation.index.show'), preparation_preparations_release_path(@preparation, release) %> |
      <%= link_to t('preparation.index.edit'), edit_preparation_preparations_release_path(@preparation, release) %> |
      <%= button_to t('preparation.index.destroy'), preparation_preparations_release_path(@preparation, release),
                  method: :delete, data: { confirm: t('preparation.index.sure') } %>
    </li>
  <% end %>
</ul>
<%= link_to t('preparation.show.new_preparation_release'), new_preparation_preparations_release_path(@preparation) %> |
<%= link_to t('preparation_issue.index.back'), preparation_path(@preparation) %>
