<h2>Release ##{<%= @preparations_release.id %>}</h2>
<p>Milestone Release Link: <%= @preparations_release.milestone_release_link %></p>
<p>Pull Request Release Link: <%= @preparations_release.pull_request_release_link %></p>
<%= link_to 'Edit', edit_preparation_preparations_release_path(@preparation, @preparations_release) %> |
<%= link_to 'Back', preparation_preparations_releases_path(@preparation) %>
<br>
<br>
<%= link_to 'New Preparations Issue', new_preparation_preparations_release_preparations_issue_path(@preparation, @preparations_release) %>

<h3>Preparations Issues</h3>
<ul>
  <% @preparations_release.preparations_issues.each do |issue| %>
    <li>
      <%= link_to "Issue ##{issue.id}", preparation_preparations_release_preparations_issue_path(@preparation, @preparations_release, issue) %>
      <%= link_to 'Show', preparation_preparations_release_preparations_issue_path(@preparation, @preparations_release, issue) %>
      <%= link_to 'Edit', edit_preparation_preparations_release_preparations_issue_path(@preparation, @preparations_release, issue) %>
      <%= button_to 'Delete', preparation_preparations_release_preparations_issue_path(@preparation, @preparations_release, issue),
                  method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
